.button-container {
    position: relative; 
  }
  
  .button-container:hover  {
    border-bottom: none; 
    transform: translateY(3px);
    transition: border-bottom 0.3s ease, transform 0.3s ease; 
  }
  